<!DOCTYPE html>
<html lang='en'>
<head>
  <meta content='text/html;charset=utf-8' http-equiv='Content-Type'>
  <meta content='utf-8' http-equiv='encoding'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>ToDos...</title>

  <link href='vendor/bootstrap/css/bootstrap.css' rel='stylesheet'/>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js' type='text/javascript'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-resource.js' type='text/javascript'></script>

  <script src='https://cdn.firebase.com/v0/firebase.js' type='text/javascript'></script>
  <script src='https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.js' type='text/javascript'></script>

  <script src='app/js/main.js' type='text/javascript'></script>
</head>
<body ng-app='mainApp'>
  <div class='container' ng-controller='MainCtrl'>
    <ul ng-repeat='person in people'>
      <li>{{person}}</li>
    </ul>
    <input type='text' ng-model='newPerson' autofocus placeholder='Person Name'/>
    <button type='submit' ng-click='addPerson()' class='btn btn-primary'>Add New Person</button>
  </div>
</body>
</html>
