<!DOCTYPE html>
<html lang='en'>
<head>
  <meta content='text/html;charset=utf-8' http-equiv='Content-Type'>
  <meta content='utf-8' http-equiv='encoding'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>ToDos...</title>

  <link href='vendor/bootstrap/css/bootstrap.css' rel='stylesheet'/>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js' type='text/javascript'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-resource.js' type='text/javascript'></script>

  <script src='https://cdn.firebase.com/v0/firebase.js' type='text/javascript'></script>
  <script src='https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.js' type='text/javascript'></script>

  <link href='app/css/main.css' rel='stylesheet'/>
  <script src='app/js/main.js' type='text/javascript'></script>
</head>
<body ng-app='mainApp' ng-controller='TodosCtrl'>
  <div class='container'>
    <ul ng-repeat='(id, todo) in todos'>
      <li class='completed-{{todo.completed}}'>
        <label>
          <input type='checkbox' ng-model="todo.completed" ng-change="todos.$save(id)">
          {{todo.title}} ({{todo.points}}pts)
        </label>
      </li>
    </ul>
    <input type='text' ng-model='newTodoTitle' autofocus placeholder='Title'/>
    <input type='number' ng-model='newTodoPoints' placeholder='Points'/>
    <button type='submit' ng-click='create()' class='btn btn-primary'>Create ToDo</button>
  </div>
</body>
</html>
