<!DOCTYPE html>
<html lang='en'>
<head>
  <meta content='text/html;charset=utf-8' http-equiv='Content-Type'>
  <meta content='utf-8' http-equiv='encoding'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>ToDos...</title>

  <link href='vendor/bootstrap/css/bootstrap.css' rel='stylesheet'/>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js' type='text/javascript'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-resource.js' type='text/javascript'></script>

  <script src='https://cdn.firebase.com/v0/firebase.js' type='text/javascript'></script>
  <script src='https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.js' type='text/javascript'></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js' type='text/javascript'></script>

  <link href='app/css/main.css' rel='stylesheet'/>
  <script src='app/js/main.js' type='text/javascript'></script>

</head>
<body ng-app='mainApp' ng-controller='TodosCtrl' class='container'>

  <!-- todo list -->
  <ul ng-repeat='(id, todo) in todos'>
    <li ng-class='{completed: todo.completed}'>
      <label>
        <input type='checkbox' ng-model="todo.completed" ng-change="todos.$save(id)">
        {{todo.title}} ({{todo.points}} points)
      </label>
      <button type='button' class='close' aria-hidden='true' ng-click='todos.$remove(id)'>&times;</button>
    </li>
  </ul>


  <!-- new todo form -->
  <form name='newTodoForm' ng-submit='create()' ng-enabled='newTodoForm.$valid'>
    <input type='text' ng-model='newTodo.title' autofocus placeholder='Title' name='title' required/>
    <span ng-show='newTodoForm.title.$dirty && newTodoForm.title.$error.required'>Title is required</span>

    <input type='number' ng-model='newTodo.points' placeholder='Points' min='0' max='10' step='1' name='points' required/>
    <span ng-show='newTodoForm.points.$dirty && (newTodoForm.points.$error.min || newTodoForm.points.$error.max || newTodoForm.points.$error.required)' class='validation-message'>Points must be between 0 and 10</span>

    <button class='btn btn-primary' ng-disabled='newTodoForm.$invalid'>Create ToDo</button>
  </form>


  <!-- totals -->
  <h2 ng-show='completed'>Your score is {{points}} for {{completed}} out of {{total}} tasks</h2>
  <h2 ng-hide='completed'>You haven't completed any task yet - BOOOOHH!</h2>


</body>
</html>
